body {
    font-family: Arial, sans-serif;
    background: #f4f6f8;
    padding: 20px;
}

h1, h3 {
    text-align: center;
    color: #003366;
}

form {
    background: white;
    padding: 15px;
    max-width: 500px;
    margin: auto;
    border-radius: 5px;
}

input, button {
    width: 100%;
    padding: 8px;
    margin: 5px 0;
}

button {
    background: #003366;
    color: white;
    border: none;
    cursor: pointer;
}

table {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: center;
}

th {
    background: #003366;
    color: white;
}
